[network]
; Backend url for llm services and logging
backend_url="http://localhost:8000/backend"
; Use backend_url="http://localhost:3000" if not running docker compose

[forms]
; Whether to show surveys at the start and end of the game
forms_enabled=false
; NOTE: user_id will be pre-filled 
; ex. https://docs.google.com/forms/d/e/MY_FORM_URL/viewform?usp=pp_url&entry.1234=
; entry will be pre-filled as entry.1234=user_id
pregame_form=""
postgame_form=""
