# Your openrouter key
OPENROUTER_API_KEY=
# Server port
PORT=3000
# CORS access for the game demo 
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/CORS
CORS_ORIGIN=
# Logs from game demo and simulations
GAME_LOG_DIR=./data